.topnav{
    background-color: violet;
    overflow: hidden;
}
.topnav a{
    float: left;
    color: black;
    text-align: center;
    padding: 20px;
    text-decoration: none;
}
.navlink {
	text-decoration: none;
	color: black;
	margin-left: 4%;
	margin-right: 9%;
}
header {
	text-shadow: 5px 5px 10px black;
	font-size: 200%;
	color: white;
	text-align: center;
	font-family: "lobster",cursive;
}
body{
    background-color: grey;
}
table{
    border-collapse: collapse;
}
.abc{
    border-collapse: separate;
    border-spacing: 15px;
}
